.block
{
	margin: 0;
	padding: 0;
}

.first
{
	display: inline-block;
    margin: 0;
	padding: 100px 0 0 480px;
}


.inline
{
	vertical-align: top;
	display: inline-block;
	width: 570px;
	margin: 0;
	padding: 150px 0 0 55px;
}

.img
{
	margin: 0;
	padding: 0 0 25px 0;
	
}

.black
{
	padding: 0 0 0 61px;
	margin: 0;
    color: #333333;
	font: 16px/42px open sans;
	font-weight: 600;
}

.grey
{
	padding: 0 0 0 59px;
	margin: -45px 0 0 0;
	width: 500px;
    color: #848484;
    font-style: italic;
	font: 28px/42px georgia;
}

.bottomleft
{
	width: 330px;
	display: inline-block;
	margin: 0;
	padding: 40px 0 0 480px;
}
	
.green
{
	margin: 0;
	padding: 0;
    color: #15a98c;
	font: 24px/32px open sans;
}

ul, ol
{
	margin: 0;
	padding: 10px 0 45px 18px;
	width: 330px;
    color: #555555;
	font: 19px/36px georgia;
}

.bottomright
{
	width: 600px;
	vertical-align: top;
	display: inline-block;
	margin: 0;
	padding: 40px 0 0 55px;
}

h1
{
	margin: 0;
	padding: 0 0 20px 4px;
	font: 48px/42px open sans;
    color: #333333;
    font-weight: 700;
}

.text
{
	text-align: left;
	padding: 15px 0 43px 0;
	margin: 0;
    color: #555555;
	font: 19px/32px georgia;
	width: 515px;
}

h2
{
	display: inline-block;
    color: #333333;
	font: 36px/42px open sans;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

.underline
{
	margin: 0;
	padding: 0;
    font: 19px/32px georgia;
    color: #15a98b;
}